<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prasadam.smartcast">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".testActivity"/>
        <activity android:name=".TagEditorActivity" android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition"/>
        <activity android:name=".AlbumActivity" android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition"/>
        <activity android:name=".RecentlyAddedActivity" android:theme="@style/AppTheme" android:label="@string/recently_added_text"/>
        <activity android:name=".FavoritesActivity" android:theme="@style/AppTheme" android:label="@string/favorites_text"/>
        <activity android:name=".SongPlaybackHistoryActivity" android:theme="@style/AppTheme" android:label="@string/history_text"/>
        <activity android:name=".MostPlayedSongsActivity" android:theme="@style/AppTheme" android:label="@string/most_played_text"/>

        <service  android:name=".audioPackages.MusicService" android:enabled="true"></service>


    </application>
</manifest>
