<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prasadam.kmrplayer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />    <!-- Ringtone -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider android:name="android.support.v4.content.FileProvider"
            android:authorities="com.prasadam.kmrplayer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActivityNoActionBar.BrandedLaunch">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".AppIntroActivity"
            android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition" />

        <activity android:name=".TagEditorActivity"
            android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition" />

        <activity android:name=".AlbumActivity"
            android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition" />

        <activity android:name=".RecentlyAddedActivity"
            android:label="@string/recently_added_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".FavoritesActivity"
            android:label="@string/favorites_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".NowPlayingPlaylistActivity"
            android:label="@string/favorites_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".SongPlaybackHistoryActivity"
            android:label="@string/history_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".QuickShareActivity"
            android:label="@string/quick_share_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".MostPlayedSongsActivity"
            android:label="@string/most_played_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".CustomPlaylistActivity"
            android:label="@string/custom_playlist_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".CustomPlaylistInnerActivity"
            android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition" />

        <activity android:name=".ExpandedAlbumartActivity"
            android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition" />

        <activity android:name=".ArtistActivity"
            android:theme="@style/AppTheme.ActionBar.TransparentContextTranscition"  />

        <activity android:name=".NearbyDevicesActivity"
            android:label="@string/available_devices_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".MostPlayedSongsPieChartActivity"
            android:label="@string/most_played_text"
            android:theme="@style/ColoredStatusBar" />

        <activity android:name=".SearchActivity"
            android:label="@string/search_text"
            android:theme="@style/ColoredStatusBar.NoActionBar">

            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>

        </activity>

        <activity android:name=".VerticalSlidingDrawerBaseActivity"/>

        <service android:name=".AudioPackages.MusicServiceClasses.MusicService"
            android:enabled="true"
            android:stopWithTask="false"/>

        <receiver android:name=".AudioPackages.MusicServiceClasses.NotificationBroadcast">
            <intent-filter>
                <action android:name="com.prasadam.kmrplayer.favorite" />
                <action android:name="com.prasadam.kmrplayer.pause" />
                <action android:name="com.prasadam.kmrplayer.next" />
                <action android:name="com.prasadam.kmrplayer.play" />
                <action android:name="com.prasadam.kmrplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Widgets.QuickShuffleWidget" android:label="Quick shuffle">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quick_shuffle_widget_info" />
        </receiver>
        <receiver android:name=".Widgets.QuickMostPlayedWidget" android:label="Play Most Played">
            <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quick_most_played_widget_info" />
        </receiver>
        <receiver android:name=".Widgets.QuickFavoritePlayWidget" android:label="Play Favorites">
            <intent-filter> <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/quick_favorites_widget_info" />
        </receiver>

    </application>

    <action android:name="android.intent.action.MEDIA_BUTTON" />

</manifest>